<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
</head>

<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>