@model SkillSphere.Models.SkillPost

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2>@Model.Title</h2>

        <hr />

        <p>
            <strong>Description:</strong>
            @Model.Description
        </p>

        <p>
            <strong>Offer:</strong>
            @Model.Offer
        </p>

        <p>
            <strong>Created:</strong>
            @Model.CreatedAt
        </p>

        <a asp-action="Index"
               class="btn btn-secondary">
            Back
        </a>

    </div>

</div>